<!-- START BODY -->
<div class="content-wrapper">
  <div id="search" class="container-fluid">
    <div class="row">
      <div id="left-nav" class="col-md-7" nzAutoHeight>
        <div class="row">
          <!-- START FILTERS -->
          <section id="filters" class="col-md-12">
            <!--<ng-include src="'app/views/search/filters.include.html'"></ng-include>-->
            <p>NO filters yet! :P</p>
          </section>
          <!-- START RESULTS -->
          <section id="results" class="col-md-12">
            <div class="row" *ngIf="!listing">
              <div class="col-md-12">
                <h3 class="text-center">Locating, please wait...</h3>
              </div>
            </div>
            <app-results *ngIf="listing" [listing]="listing.List" [totalCount]="listing.TotalCount" [regionName]="regionName"></app-results>
          </section>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <!-- Start - Map Section -->
          <section id="map" *ngIf="listing">
            <!--<ng-include src="'app/views/search/map.include.html'"></ng-include>-->
            <app-map [list]="listing.List"></app-map>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
